In [153]:
import requests
from bs4 import BeautifulSoup

In [154]:
url = 'http://www.tigerdirect.com/applications/category/category_slc.asp?Sort=3&Nav=|c:219|&Recs=30'

In [155]:
response = requests.get(url)

In [156]:
soup = BeautifulSoup(response.text, 'html.parser')

In [157]:
products = soup.find_all('div', {'class': 'product'})

In [158]:
type(products)

bs4.element.ResultSet

In [159]:
import unicodedata

In [160]:
prod_names = []
items = []
models = []
ratings = []

In [161]:
for product in products:
    prod_names.append(product.find('h3').find('a').text)
    item_and_model = product.find('p', {'class': 'itemModel'}).text
    item_and_model = item_and_model.split('|')
    items.append(unicodedata.normalize("NFKD", item_and_model[0])) # It will be easier to strip the "Item#: " and such after in df.
    models.append(unicodedata.normalize("NFKD", item_and_model[1]))
    ratings.append(product.find('a', {'class': 'itemRating'}).get('title'))

In [162]:
print(prod_names[2], items[2], models[2], ratings[2])

 Asus TPC Z301M-A2-GR 10.1 2GB LPDDR3L 16G EM (Z301M-A2-GR) Item#: 40809025     Model#: Z301M-A2-GR 1 stars and 1 review

In [163]:
import pandas as pd
datadict = {'Product Name': prod_names, 'Item#': items, 'Model#': models, 'Ratings':ratings}

In [164]:
df = pd.DataFrame(datadict)
cols = df.columns
cols = ['Product Name', 'Item#', 'Model#', 'Ratings']
df = df[cols]
df.head()

,Product Name,Item#,Model#,Ratings
0,Asus TBL Z301MF-A2-WH 10.1WUXGA 1920X1200 IP ...,Item#: 40809036,Model#: Z301MF-A2-WH,Be the first to review
1,Acer One 10 S1003-15NJ 2-in-1 Laptop PC - Int...,Item#: 40897723,Model#: NT.LCQAA.004,4.5 stars and 1 review
2,Asus TPC Z301M-A2-GR 10.1 2GB LPDDR3L 16G EM ...,Item#: 40809025,Model#: Z301M-A2-GR,1 stars and 1 review
3,HP x2 10-p010nr Detachable 2-in-1 Laptop PC -...,Item#: 40243694,Model#: X7U39UA#ABA,Be the first to review
4,Acer Chromebook R 11 C738T 2-in-1 Laptop - In...,Item#: 40925356,Model#: NX.G55AA.010,Be the first to review

In [165]:
url = 'http://www.tigerdirect.com/applications/category/category_slc.asp?Sort=3&Nav=|c:219|&Recs=30'
url1 = 'http://www.tigerdirect.com/applications/category/category_slc.asp?page='
url2 = '&Nav=%7Cc:219%7C&Sort=3&Recs=30    '

## Scrape All Pages

If we follow the next page of reviews, you might notice that the url contains a query that will take us to pages that look like

```
'https://www.beeradvocate.com/beer/?start=25'
```

where the number is a continued higher multiple of 25.  The script below takes advantage of this structure and retrieves a few hundred different beer names.

In [151]:
num = 2
link = url1 + str(num) + url2
response = requests.get(link)
response.request.headers
response.headers

{'User-Agent': 'python-requests/2.14.2', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive'}

In [167]:
for num in range(2,5):
    link = url1 + str(num) + url2
    response = requests.get(link)
    soup = BeautifulSoup(response.text, 'html.parser')
    products = soup.find_all('div', {'class': 'product'})
    for product in products:
        prod_names.append(product.find('h3').find('a').text)
        item_and_model = product.find('p', {'class': 'itemModel'}).text
        item_and_model = item_and_model.split('|')
        items.append(unicodedata.normalize("NFKD", item_and_model[0])) # It will be easier to strip the "Item#: " and such after in df.
        models.append(unicodedata.normalize("NFKD", item_and_model[1]))
        ratings.append(product.find('a', {'class': 'itemRating'}).get('title'))

In [168]:
len(items)

120

In [169]:
import pandas as pd
datadict = {'Product Name': prod_names, 'Item#': items, 'Model#': models, 'Ratings':ratings}

In [172]:
df = pd.DataFrame(datadict)
cols = df.columns
cols = ['Product Name', 'Item#', 'Model#', 'Ratings']
df = df[cols]
df.loc[80:90]

,Product Name,Item#,Model#,Ratings
80,Lenovo ThinkPad P40 Yoga 20GQ 14 Flip Notebo...,Item#: 13774640,Model#: 20GQ000EUS,Be the first to review
81,HP EliteBook 840 G4 - Core i5 7300U / 2.6 GHz...,Item#: 40435550,Model#: 1GE43UT#ABA,Be the first to review
82,HP EliteBook x360 1030 G3 2-in-1 Laptop - Int...,Item#: 41251420,Model#: 4SU66UT#ABA,Be the first to review
83,Dell Latitude 12 5285 Tablet PC - Intel Core ...,Item#: 40646344,Model#: 61X3P,Be the first to review
84,Lenovo ThinkPad X380 Yoga 20LH 2-in-1 Laptop ...,Item#: 40986112,Model#: 20LH0011US,Be the first to review
85,HP ZBook Studio x360 G5 2-in-1 Laptop - Intel...,Item#: 41227076,Model#: 4NL02UT#ABA,Be the first to review
86,HP EliteBook 1040 G3 - Core i5 6300U / 2.4 GH...,Item#: 40253419,Model#: Z2A37UT#ABA,Be the first to review
87,Lenovo X1TABLET 3RDGEN W10P I7 8G 256G 3Y (20...,Item#: 41044939,Model#: 20KJ0017US,Be the first to review
88,Lenovo ThinkPad X1 Yoga 20LD 2-in-1 Laptop - ...,Item#: 40977135,Model#: 20LD001KUS,Be the first to review
89,Lenovo ThinkPad X1 Yoga 20LF 2-in-1 Laptop PC...,Item#: 40977161,Model#: 20LF000MUS,Be the first to review
90,HP EliteBook x360 1020 G2 2-in-1 Notebook - 7...,Item#: 40802411,Model#: 2UE44UT#ABA,Be the first to review