# Review

1. Import `pandas` and load in the file called `gapminder_gdp_oceania.csv`

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('data/gap_data/gapminder_gdp_oceania.csv')

1. Re-import the data, this time setting the `index_col` argument to the `country` variable.

In [7]:
df = pd.read_csv('data/gap_data/gapminder_gdp_oceania.csv', index_col = 'country')

1. Describe the variables and datatypes

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Australia to New Zealand
Data columns (total 12 columns):
gdpPercap_1952    2 non-null float64
gdpPercap_1957    2 non-null float64
gdpPercap_1962    2 non-null float64
gdpPercap_1967    2 non-null float64
gdpPercap_1972    2 non-null float64
gdpPercap_1977    2 non-null float64
gdpPercap_1982    2 non-null float64
gdpPercap_1987    2 non-null float64
gdpPercap_1992    2 non-null float64
gdpPercap_1997    2 non-null float64
gdpPercap_2002    2 non-null float64
gdpPercap_2007    2 non-null float64
dtypes: float64(12)
memory usage: 208.0+ bytes

In [9]:
df.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
mean,10298.085650,11598.522455,12696.452430,14495.021790,16417.33338,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,26938.778040,29810.188275
std,365.560078,917.644806,677.727301,43.986086,525.09198,1485.263517,1304.328377,2037.668013,3578.979883,4205.533703,5301.853680,6540.991104
min,10039.595640,10949.649590,12217.226860,14463.918930,16046.03728,16233.717700,17632.410400,19007.191290,18363.324940,21050.413770,23189.801350,25185.009110
25%,10168.840645,11274.086022,12456.839645,14479.470360,16231.68533,16758.837652,18093.560120,19727.615725,19628.685413,22537.294470,25064.289695,27497.598692
50%,10298.085650,11598.522455,12696.452430,14495.021790,16417.33338,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,26938.778040,29810.188275
75%,10427.330655,11922.958888,12936.065215,14510.573220,16602.98143,17809.077557,19015.859560,21168.464595,22159.406358,25511.055870,28813.266385,32122.777857
max,10556.575660,12247.395320,13175.678000,14526.124650,16788.62948,18334.197510,19477.009280,21888.889030,23424.766830,26997.936570,30687.754730,34435.367440

In [10]:
oceania = df

- Do the same for the file `gapminder_gdp_amercas.csv`

In [39]:
americas = pd.read_csv('data/gap_data/gapminder_gdp_americas.csv', index_col='country')

In [40]:
americas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, Argentina to Venezuela
Data columns (total 13 columns):
continent         25 non-null object
gdpPercap_1952    25 non-null float64
gdpPercap_1957    25 non-null float64
gdpPercap_1962    25 non-null float64
gdpPercap_1967    25 non-null float64
gdpPercap_1972    25 non-null float64
gdpPercap_1977    25 non-null float64
gdpPercap_1982    25 non-null float64
gdpPercap_1987    25 non-null float64
gdpPercap_1992    25 non-null float64
gdpPercap_1997    25 non-null float64
gdpPercap_2002    25 non-null float64
gdpPercap_2007    25 non-null float64
dtypes: float64(12), object(1)
memory usage: 2.7+ KB

In [41]:
americas.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,4079.062552,4616.043733,4901.541870,5668.253496,6491.334139,7352.007126,7506.737088,7793.400261,8044.934406,8889.300863,9287.677107,11003.031625
std,3001.727522,3312.381083,3421.740569,4160.885560,4754.404329,5355.602518,5530.490471,6665.039509,7047.089191,7874.225145,8895.817785,9713.209302
min,1397.717137,1544.402995,1662.137359,1452.057666,1654.456946,1874.298931,2011.159549,1823.015995,1456.309517,1341.726931,1270.364932,1201.637154
25%,2428.237769,2487.365989,2750.364446,3242.531147,4031.408271,4756.763836,4258.503604,4140.442097,4439.450840,4684.313807,4858.347495,5728.353514
50%,3048.302900,3780.546651,4086.114078,4643.393534,5305.445256,6281.290855,6434.501797,6360.943444,6618.743050,7113.692252,6994.774861,8948.102923
75%,3939.978789,4756.525781,5180.755910,5788.093330,6809.406690,7674.929108,8997.897412,7807.095818,8137.004775,9767.297530,8797.640716,11977.574960
max,13990.482080,14847.127120,16173.145860,19530.365570,21806.035940,24072.632130,25009.559140,29884.350410,32003.932240,35767.433030,39097.099550,42951.653090

- Use `.iloc` to select the object in the `[0, 0]` position.  What does this value correspond to?

In [42]:
americas.iloc[0,0] #corresponds to the continent of the first record--Argentina

'Americas'

In [43]:
americas.head()

,continent,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,,
Argentina,Americas,5911.315053,6856.856212,7133.166023,8052.953021,9443.038526,10079.026740,8997.897412,9139.671389,9308.418710,10967.281950,8797.640716,12779.379640
Bolivia,Americas,2677.326347,2127.686326,2180.972546,2586.886053,2980.331339,3548.097832,3156.510452,2753.691490,2961.699694,3326.143191,3413.262690,3822.137084
Brazil,Americas,2108.944355,2487.365989,3336.585802,3429.864357,4985.711467,6660.118654,7030.835878,7807.095818,6950.283021,7957.980824,8131.212843,9065.800825
Canada,Americas,11367.161120,12489.950060,13462.485550,16076.588030,18970.570860,22090.883060,22898.792140,26626.515030,26342.884260,28954.925890,33328.965070,36319.235010
Chile,Americas,3939.978789,4315.622723,4519.094331,5106.654313,5494.024437,4756.763836,5095.665738,5547.063754,7596.125964,10118.053180,10778.783850,13171.638850

In [30]:
oceania.loc?

- Use `.loc` to select all rows containing the variable `Albania`

In [48]:
americas.loc['Bolivia',:]

continent         Americas
gdpPercap_1952     2677.33
gdpPercap_1957     2127.69
gdpPercap_1962     2180.97
gdpPercap_1967     2586.89
gdpPercap_1972     2980.33
gdpPercap_1977      3548.1
gdpPercap_1982     3156.51
gdpPercap_1987     2753.69
gdpPercap_1992      2961.7
gdpPercap_1997     3326.14
gdpPercap_2002     3413.26
gdpPercap_2007     3822.14
Name: Bolivia, dtype: object

In [49]:
americas.loc[:,'gdpPercap_1952']

country
Argentina               5911.315053
Bolivia                 2677.326347
Brazil                  2108.944355
Canada                 11367.161120
Chile                   3939.978789
Colombia                2144.115096
Costa Rica              2627.009471
Cuba                    5586.538780
Dominican Republic      1397.717137
Ecuador                 3522.110717
El Salvador             3048.302900
Guatemala               2428.237769
Haiti                   1840.366939
Honduras                2194.926204
Jamaica                 2898.530881
Mexico                  3478.125529
Nicaragua               3112.363948
Panama                  2480.380334
Paraguay                1952.308701
Peru                    3758.523437
Puerto Rico             3081.959785
Trinidad and Tobago     3023.271928
United States          13990.482080
Uruguay                 5716.766744
Venezuela               7689.799761
Name: gdpPercap_1952, dtype: float64

In [50]:
americas.loc?

- Use `.loc` to select all columns for the variable `gdpPercap_1952`

In [51]:
euro = pd.read_csv('data/gap_data/gapminder_gdp_europe.csv', index_col='country')

- What does the following line of code do to the dataframe `data`:

```python 
print(data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972'])
```

In [53]:
print(euro.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972'])

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

In [56]:
euro.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972'].max()

gdpPercap_1962    13450.40151
gdpPercap_1967    16361.87647
gdpPercap_1972    18965.05551
dtype: float64

- Use the results of the above code and apply the `max()` method to the slice.

In [59]:
euro[euro['gdpPercap_1972']>13000]

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Austria,6137.076492,8842.598030,10750.721110,12834.60240,16661.62560,19749.42230,21597.08362,23687.82607,27042.01868,29095.92066,32417.60769,36126.49270
Belgium,8343.105127,9714.960623,10991.206760,13149.04119,16672.14356,19117.97448,20979.84589,22525.56308,25575.57069,27561.19663,30485.88375,33692.60508
Czech Republic,6876.140250,8256.343918,10136.867130,11399.44489,13108.45360,14800.16062,15377.22855,16310.44340,14297.02122,16048.51424,17596.21022,22833.30851
Denmark,9692.385245,11099.659350,13583.313510,15937.21123,18866.20721,20422.90150,21688.04048,25116.17581,26406.73985,29804.34567,32166.50006,35278.41874
Finland,6424.519071,7545.415386,9371.842561,10921.63626,14358.87590,15605.42283,18533.15761,21141.01223,20647.16499,23723.95020,28204.59057,33207.08440
France,7029.809327,8662.834898,10560.485530,12999.91766,16107.19171,18292.63514,20293.89746,22066.44214,24703.79615,25889.78487,28926.03234,30470.01670
Germany,7144.114393,10187.826650,12902.462910,14745.62561,18016.18027,20512.92123,22031.53274,24639.18566,26505.30317,27788.88416,30035.80198,32170.37442
Iceland,7267.688428,9244.001412,10350.159060,13319.89568,15798.06362,19654.96247,23269.60750,26923.20628,25144.39201,28061.09966,31163.20196,36180.78919
Netherlands,8941.571858,11276.193440,12790.849560,15363.25136,18794.74567,21209.05920,21399.46046,23651.32361,26790.94961,30246.13063,33724.75778,36797.93332
Norway,10095.421720,11653.973040,13450.401510,16361.87647,18965.05551,23311.34939,26298.63531,31540.97480,33965.66115,41283.16433,44683.97525,49357.19017
Sweden,8527.844662,9911.878226,12329.441920,15258.29697,17832.02464,18855.72521,20667.38125,23586.92927,23880.01683,25266.59499,29341.63093,33859.74835
Switzerland,14734.232750,17909.489730,20431.092700,22966.14432,27195.11304,26982.29052,28397.71512,30281.70459,31871.53030,32135.32301,34480.95771,37506.41907
United Kingdom,9979.508487,11283.177950,12477.177070,14142.85089,15895.11641,17428.74846,18232.42452,21664.78767,22705.09254,26074.53136,29478.99919,33203.26128

- Select the rows of the dataframe where the variable `gdpPercap_1972` is greater than 13,000.  How many countries are there?

In [60]:
euro[euro['gdpPercap_1972']>13000].count()

gdpPercap_1952    13
gdpPercap_1957    13
gdpPercap_1962    13
gdpPercap_1967    13
gdpPercap_1972    13
gdpPercap_1977    13
gdpPercap_1982    13
gdpPercap_1987    13
gdpPercap_1992    13
gdpPercap_1997    13
gdpPercap_2002    13
gdpPercap_2007    13
dtype: int64

- Are there any missing values?  Where?

In [61]:
euro.isnull().sum()

gdpPercap_1952    0
gdpPercap_1957    0
gdpPercap_1962    0
gdpPercap_1967    0
gdpPercap_1972    0
gdpPercap_1977    0
gdpPercap_1982    0
gdpPercap_1987    0
gdpPercap_1992    0
gdpPercap_1997    0
gdpPercap_2002    0
gdpPercap_2007    0
dtype: int64

- What does the following line of code do?

```python
mask_higher = data.apply(lambda x:x>x.mean())
```

In [62]:
euro.apply(lambda x:x>x.mean())

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,False,False,False,False,False,False,False,False,False,False,False,False
Austria,True,True,True,True,True,True,True,True,True,True,True,True
Belgium,True,True,True,True,True,True,True,True,True,True,True,True
Bosnia and Herzegovina,False,False,False,False,False,False,False,False,False,False,False,False
Bulgaria,False,False,False,False,False,False,False,False,False,False,False,False
Croatia,False,False,False,False,False,False,False,False,False,False,False,False
Czech Republic,True,True,True,True,True,True,False,False,False,False,False,False
Denmark,True,True,True,True,True,True,True,True,True,True,True,True
Finland,True,True,True,True,True,True,True,True,True,True,True,True
France,True,True,True,True,True,True,True,True,True,True,True,True
Germany,True,True,True,True,True,True,True,True,True,True,True,True
Greece,False,False,False,False,True,False,False,False,True,False,True,True
Hungary,False,False,False,False,False,False,False,False,False,False,False,False
Iceland,True,True,True,True,True,True,True,True,True,True,True,True
Ireland,False,False,False,False,False,False,False,False,True,True,True,True
Italy,False,False,False,False,False,False,True,True,True,True,True,True
Montenegro,False,False,False,False,False,False,False,False,False,False,False,False
Netherlands,True,True,True,True,True,True,True,True,True,True,True,True
Norway,True,True,True,True,True,True,True,True,True,True,True,True
Poland,False,False,False,False,False,False,False,False,False,False,False,False
Portugal,False,False,False,False,False,False,False,False,False,False,False,False
Romania,False,False,False,False,False,False,False,False,False,False,False,False
Serbia,False,False,False,False,False,False,False,False,False,False,False,False
Slovak Republic,False,False,False,False,False,False,False,False,False,False,False,False
Slovenia,False,False,False,False,False,True,True,True,False,False,False,True
Spain,False,False,False,False,False,False,False,False,True,True,True,True
Sweden,True,True,True,True,True,True,True,True,True,True,True,True
Switzerland,True,True,True,True,True,True,True,True,True,True,True,True
Turkey,False,False,False,False,False,False,False,False,False,False,False,False
United Kingdom,True,True,True,True,True,True,True,True,True,True,True,True

In [63]:
mask_higher = euro.apply(lambda x:x>x.mean())

In [64]:
euro[mask_higher].head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Austria,6137.076492,8842.598030,10750.72111,12834.60240,16661.62560,19749.42230,21597.08362,23687.82607,27042.01868,29095.92066,32417.60769,36126.49270
Belgium,8343.105127,9714.960623,10991.20676,13149.04119,16672.14356,19117.97448,20979.84589,22525.56308,25575.57069,27561.19663,30485.88375,33692.60508
Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- How about this one?

```python
wealth_score = mask_higher.aggregate('sum',axis=1)/len(data.columns)
```

In [65]:
wealth_score = mask_higher.aggregate('sum',axis=1)/len(euro.columns)

In [66]:
wealth_score

country
Albania                   0.000000
Austria                   1.000000
Belgium                   1.000000
Bosnia and Herzegovina    0.000000
Bulgaria                  0.000000
Croatia                   0.000000
Czech Republic            0.500000
Denmark                   1.000000
Finland                   1.000000
France                    1.000000
Germany                   1.000000
Greece                    0.333333
Hungary                   0.000000
Iceland                   1.000000
Ireland                   0.333333
Italy                     0.500000
Montenegro                0.000000
Netherlands               1.000000
Norway                    1.000000
Poland                    0.000000
Portugal                  0.000000
Romania                   0.000000
Serbia                    0.000000
Slovak Republic           0.000000
Slovenia                  0.333333
Spain                     0.333333
Sweden                    1.000000
Switzerland               1.000000
Turkey                    0.000000
United Kingdom            1.000000
dtype: float64

- And finally:

```python
data.groupby(wealth_score).sum()
```

In [68]:
euro.groupby(wealth_score).sum()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0.000000,36916.854200,46110.918793,56850.065437,71324.848786,88569.346898,104459.358438,113553.768507,119649.599409,92380.047256,103772.937598,118590.929863,149577.357928
0.333333,16790.046878,20942.456800,25744.935321,33567.667670,45277.839976,53860.456750,59679.634020,64436.912960,67918.093220,80876.051580,102086.795210,122803.729520
0.500000,11807.544405,14505.000150,18380.449470,21421.846200,25377.727380,29056.145370,31914.712050,35517.678220,36310.666080,40723.538700,45564.308390,51403.028210
1.000000,104317.277560,127332.008735,149989.154201,178000.350040,215162.343140,241143.412730,263388.781960,296825.131210,315238.235970,346930.926170,385109.939210,427850.333420

Write an expression to find the Per Capita GDP of Serbia in 2007.

In [ ]:
#skipped this stuff


- What does the following code do?  Explain each line.

```python
first = pandas.read_csv('data/gapminder_all.csv', index_col='country')
second = first[first['continent'] == 'Americas']
third = second.drop('Puerto Rico')
fourth = third.drop('continent', axis = 1)
fourth.to_csv('result.csv')
```

In [69]:
first = pd.read_csv('data/gap_data/gapminder_all.csv', index_col='country') 
#Imports the data for all continents, sets country to index

In [70]:
second = first [first['continent'] == 'Americas']
#creates a df for americas only via filter

In [71]:
third = second.drop('Puerto Rico')
#creates an amer. df without PR

In [72]:
fourth = third.drop('continent', axis = 1)
#drops the continent column

In [73]:
fourth.to_csv('result.csv') #writes filtered DF to csv (where does it save to? -- after looking, its the dir of this notebook)

In [77]:
fourth

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,...,pop_1962,pop_1967,pop_1972,pop_1977,pop_1982,pop_1987,pop_1992,pop_1997,pop_2002,pop_2007
country,,,,,,,,,,,,,,,,,,,,,
Argentina,5911.315053,6856.856212,7133.166023,8052.953021,9443.038526,10079.026740,8997.897412,9139.671389,9308.418710,10967.281950,...,21283783.0,22934225.0,24779799.0,26983828.0,29341374.0,31620918.0,33958947.0,36203463.0,38331121,40301927
Bolivia,2677.326347,2127.686326,2180.972546,2586.886053,2980.331339,3548.097832,3156.510452,2753.691490,2961.699694,3326.143191,...,3593918.0,4040665.0,4565872.0,5079716.0,5642224.0,6156369.0,6893451.0,7693188.0,8445134,9119152
Brazil,2108.944355,2487.365989,3336.585802,3429.864357,4985.711467,6660.118654,7030.835878,7807.095818,6950.283021,7957.980824,...,76039390.0,88049823.0,100840058.0,114313951.0,128962939.0,142938076.0,155975974.0,168546719.0,179914212,190010647
Canada,11367.161120,12489.950060,13462.485550,16076.588030,18970.570860,22090.883060,22898.792140,26626.515030,26342.884260,28954.925890,...,18985849.0,20819767.0,22284500.0,23796400.0,25201900.0,26549700.0,28523502.0,30305843.0,31902268,33390141
Chile,3939.978789,4315.622723,4519.094331,5106.654313,5494.024437,4756.763836,5095.665738,5547.063754,7596.125964,10118.053180,...,7961258.0,8858908.0,9717524.0,10599793.0,11487112.0,12463354.0,13572994.0,14599929.0,15497046,16284741
Colombia,2144.115096,2323.805581,2492.351109,2678.729839,3264.660041,3815.807870,4397.575659,4903.219100,5444.648617,6117.361746,...,17009885.0,19764027.0,22542890.0,25094412.0,27764644.0,30964245.0,34202721.0,37657830.0,41008227,44227550
Costa Rica,2627.009471,2990.010802,3460.937025,4161.727834,5118.146939,5926.876967,5262.734751,5629.915318,6160.416317,6677.045314,...,1345187.0,1588717.0,1834796.0,2108457.0,2424367.0,2799811.0,3173216.0,3518107.0,3834934,4133884
Cuba,5586.538780,6092.174359,5180.755910,5690.268015,5305.445256,6380.494966,7316.918107,7532.924763,5592.843963,5431.990415,...,7254373.0,8139332.0,8831348.0,9537988.0,9789224.0,10239839.0,10723260.0,10983007.0,11226999,11416987
Dominican Republic,1397.717137,1544.402995,1662.137359,1653.723003,2189.874499,2681.988900,2861.092386,2899.842175,3044.214214,3614.101285,...,3453434.0,4049146.0,4671329.0,5302800.0,5968349.0,6655297.0,7351181.0,7992357.0,8650322,9319622
Ecuador,3522.110717,3780.546651,4086.114078,4579.074215,5280.994710,6679.623260,7213.791267,6481.776993,7103.702595,7429.455877,...,4681707.0,5432424.0,6298651.0,7278866.0,8365850.0,9545158.0,10748394.0,11911819.0,12921234,13755680
El Salvador,3048.302900,3421.523218,3776.803627,4358.595393,4520.246008,5138.922374,4098.344175,4140.442097,4444.231700,5154.825496,...,2747687.0,3232927.0,3790903.0,4282586.0,4474873.0,4842194.0,5274649.0,5783439.0,6353681,6939688
Guatemala,2428.237769,2617.155967,2750.364446,3242.531147,4031.408271,4879.992748,4820.494790,4246.485974,4439.450840,4684.313807,...,4208858.0,4690773.0,5149581.0,5703430.0,6395630.0,7326406.0,8486949.0,9803875.0,11178650,12572928
Haiti,1840.366939,1726.887882,1796.589032,1452.057666,1654.456946,1874.298931,2011.159549,1823.015995,1456.309517,1341.726931,...,3880130.0,4318137.0,4698301.0,4908554.0,5198399.0,5756203.0,6326682.0,6913545.0,7607651,8502814
Honduras,2194.926204,2220.487682,2291.156835,2538.269358,2529.842345,3203.208066,3121.760794,3023.096699,3081.694603,3160.454906,...,2090162.0,2500689.0,2965146.0,3055235.0,3669448.0,4372203.0,5077347.0,5867957.0,6677328,7483763
Jamaica,2898.530881,4756.525781,5246.107524,6124.703451,7433.889293,6650.195573,6068.051350,6351.237495,7404.923685,7121.924704,...,1665128.0,1861096.0,1997616.0,2156814.0,2298309.0,2326606.0,2378618.0,2531311.0,2664659,2780132
Mexico,3478.125529,4131.546641,4581.609385,5754.733883,6809.406690,7674.929108,9611.147541,8688.156003,9472.384295,9767.297530,...,41121485.0,47995559.0,55984294.0,63759976.0,71640904.0,80122492.0,88111030.0,95895146.0,102479927,108700891
Nicaragua,3112.363948,3457.415947,3634.364406,4643.393534,4688.593267,5486.371089,3470.338156,2955.984375,2170.151724,2253.023004,...,1590597.0,1865490.0,2182908.0,2554598.0,2979423.0,3344353.0,4017939.0,4609572.0,5146848,5675356
Panama,2480.380334,2961.800905,3536.540301,4421.009084,5364.249663,5351.912144,7009.601598,7034.779161,6618.743050,7113.692252,...,1215725.0,1405486.0,1616384.0,1839782.0,2036305.0,2253639.0,2484997.0,2734531.0,2990875,3242173
Paraguay,1952.308701,2046.154706,2148.027146,2299.376311,2523.337977,3248.373311,4258.503604,3998.875695,4196.411078,4247.400261,...,2009813.0,2287985.0,2614104.0,2984494.0,3366439.0,3886512.0,4483945.0,5154123.0,5884491,6667147
Peru,3758.523437,4245.256698,4957.037982,5788.093330,5937.827283,6281.290855,6434.501797,6360.943444,4446.380924,5838.347657,...,10516500.0,12132200.0,13954700.0,15990099.0,18125129.0,20195924.0,22430449.0,24748122.0,26769436,28674757
Trinidad and Tobago,3023.271928,4100.393400,4997.523971,5621.368472,6619.551419,7899.554209,9119.528607,7388.597823,7370.990932,8792.573126,...,887498.0,960155.0,975199.0,1039009.0,1116479.0,1191336.0,1183669.0,1138101.0,1101832,1056608
United States,13990.482080,14847.127120,16173.145860,19530.365570,21806.035940,24072.632130,25009.559140,29884.350410,32003.932240,35767.433030,...,186538000.0,198712000.0,209896000.0,220239000.0,232187835.0,242803533.0,256894189.0,272911760.0,287675526,301139947
Uruguay,5716.766744,6150.772969,5603.357717,5444.619620,5703.408898,6504.339663,6920.223051,7452.398969,8137.004775,9230.240708,...,2598466.0,2748579.0,2829526.0,2873520.0,2953997.0,3045153.0,3149262.0,3262838.0,3363085,3447496
Venezuela,7689.799761,9802.466526,8422.974165,9541.474188,10505.259660,13143.950950,11152.410110,9883.584648,10733.926310,10165.495180,...,8143375.0,9709552.0,11515649.0,13503563.0,15620766.0,17910182.0,20265563.0,22374398.0,24287670,26084662

Write an expression to find the following:

1. GDP per capita for all countries in 1982.
2. GDP per capita for Denmark for all years.
3. GDP per capita for all countries for years after 1985.
4. GDP per capita for each country in 2007 as a multiple of GDP per capita for that country in 1952.

In [78]:
first.columns

Index(['continent', 'gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962',
       'gdpPercap_1967', 'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982',
       'gdpPercap_1987', 'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002',
       'gdpPercap_2007', 'lifeExp_1952', 'lifeExp_1957', 'lifeExp_1962',
       'lifeExp_1967', 'lifeExp_1972', 'lifeExp_1977', 'lifeExp_1982',
       'lifeExp_1987', 'lifeExp_1992', 'lifeExp_1997', 'lifeExp_2002',
       'lifeExp_2007', 'pop_1952', 'pop_1957', 'pop_1962', 'pop_1967',
       'pop_1972', 'pop_1977', 'pop_1982', 'pop_1987', 'pop_1992', 'pop_1997',
       'pop_2002', 'pop_2007'],
      dtype='object')

In [84]:
#First
first['gdpPercap_1982'].sum()

1067684.0375232

In [83]:
first.loc['Denmark', 'gdpPercap_1952':'gdpPercap_2002']

gdpPercap_1952    9692.39
gdpPercap_1957    11099.7
gdpPercap_1962    13583.3
gdpPercap_1967    15937.2
gdpPercap_1972    18866.2
gdpPercap_1977    20422.9
gdpPercap_1982      21688
gdpPercap_1987    25116.2
gdpPercap_1992    26406.7
gdpPercap_1997    29804.3
gdpPercap_2002    32166.5
Name: Denmark, dtype: object

In [87]:
first['gdp_mult'] = first.gdpPercap_2007/ first.gdpPercap_1952

In [90]:
first.head()

,continent,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,...,pop_1967,pop_1972,pop_1977,pop_1982,pop_1987,pop_1992,pop_1997,pop_2002,pop_2007,gdp_mult
country,,,,,,,,,,,,,,,,,,,,,
Algeria,Africa,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,...,12760499.0,14760787.0,17152804.0,20033753.0,23254956.0,26298373.0,29072015.0,31287142,33333216,2.541179
Angola,Africa,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,...,5247469.0,5894858.0,6162675.0,7016384.0,7874230.0,8735988.0,9875024.0,10866106,12420476,1.362614
Benin,Africa,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,1191.207681,...,2427334.0,2761407.0,3168267.0,3641603.0,4243788.0,4981671.0,6066080.0,7026113,8078314,1.356182
Botswana,Africa,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,7954.111645,...,553541.0,619351.0,781472.0,970347.0,1151184.0,1342614.0,1536536.0,1630347,1639131,14.766499
Burkina Faso,Africa,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,931.752773,...,5127935.0,5433886.0,5889574.0,6634596.0,7586551.0,8878303.0,10352843.0,12251209,14326203,2.240260

### Loops and Data Sets

In [1]:
import pandas as pd

In [4]:
for file in ['data/gap_data/gapminder_gdp_africa.csv', 'data/gap_data/gapminder_gdp_asia.csv']:
    data = pd.read_csv(file, index_col='country')
    print(file, data.min())

data/gap_data/gapminder_gdp_africa.csv gdpPercap_1952    298.846212
gdpPercap_1957    335.997115
gdpPercap_1962    355.203227
gdpPercap_1967    412.977514
gdpPercap_1972    464.099504
gdpPercap_1977    502.319733
gdpPercap_1982    462.211415
gdpPercap_1987    389.876185
gdpPercap_1992    410.896824
gdpPercap_1997    312.188423
gdpPercap_2002    241.165877
gdpPercap_2007    277.551859
dtype: float64
data/gap_data/gapminder_gdp_asia.csv gdpPercap_1952    331.0
gdpPercap_1957    350.0
gdpPercap_1962    388.0
gdpPercap_1967    349.0
gdpPercap_1972    357.0
gdpPercap_1977    371.0
gdpPercap_1982    424.0
gdpPercap_1987    385.0
gdpPercap_1992    347.0
gdpPercap_1997    415.0
gdpPercap_2002    611.0
gdpPercap_2007    944.0
dtype: float64

### Using `glob.glob` to load files

In Unix, the term “globbing” means “matching a set of files with a pattern”.
The most common patterns are:
- * meaning “match zero or more characters”
- ? meaning “match exactly one character”

Python contains the glob library to provide pattern matching functionality
The glob library contains a function also called glob to match file patterns E.g., glob.glob('\*.txt') matches all files in the current directory whose names end with .txt.
Result is a (possibly empty) list of character strings.

In [6]:
import glob
print('all csv files in data directory:', glob.glob('data/gap_data/*.csv'), '\n')

all csv files in data directory: ['data/gap_data/gapminder_all.csv', 'data/gap_data/gapminder_gdp_africa.csv', 'data/gap_data/gapminder_gdp_americas.csv', 'data/gap_data/gapminder_gdp_asia.csv', 'data/gap_data/gapminder_gdp_europe.csv', 'data/gap_data/gapminder_gdp_oceania.csv']

In [8]:
for filename in glob.glob('data/gap_data/gapminder_*.csv'):
    data = pd.read_csv(filename)
    print(filename, data['gdpPercap_1952'].min())

data/gap_data/gapminder_all.csv 298.8462121
data/gap_data/gapminder_gdp_africa.csv 298.8462121
data/gap_data/gapminder_gdp_americas.csv 1397.7171369999999
data/gap_data/gapminder_gdp_asia.csv 331.0
data/gap_data/gapminder_gdp_europe.csv 973.5331947999999
data/gap_data/gapminder_gdp_oceania.csv 10039.595640000001

**PROBLEM**


Which of these files is not matched by the expression glob.glob('data/gap_data/\*as\*.csv')?

1. `data/gapminder_gdp_africa.csv`
2. `data/gapminder_gdp_americas.csv`
3. `data/gapminder_gdp_asia.csv`
4. 1 and 2 are not matched.

### Writing Functions

In [9]:
def hi_there(name):
    print('Hi there', name)

In [10]:
hi_there('Steve')

Hi there Steve

Using `return` in functions:

Use return ... to give a value back to the caller.
May occur anywhere in the function.
But functions are easier to understand if return occurs:
- At the start to handle special cases.
- At the very end, with a final result.

In [11]:
def average(values):
    if len(values) == 0:
        return None
    return sum(values) / len(values)

**PROBLEM**


Fill in the blanks to create a function that takes a single filename as an argument, loads the data in the file named by the argument, and returns the minimum value in that data

```python
import pandas

def min_in_data(____):
    data = ____
    return ____
```

In [91]:
import pandas

def min_in_data(filepath):
    data = pd.read_csv(filepath)
    return data.min()

In [92]:
min_in_data('data/gap_data/gapminder_all.csv')

continent              Africa
country           Afghanistan
gdpPercap_1952        298.846
gdpPercap_1957        335.997
gdpPercap_1962        355.203
gdpPercap_1967            349
gdpPercap_1972            357
gdpPercap_1977            371
gdpPercap_1982            424
gdpPercap_1987            385
gdpPercap_1992            347
gdpPercap_1997        312.188
gdpPercap_2002        241.166
gdpPercap_2007        277.552
lifeExp_1952           28.801
lifeExp_1957           30.332
lifeExp_1962           31.997
lifeExp_1967            34.02
lifeExp_1972             35.4
lifeExp_1977            31.22
lifeExp_1982           38.445
lifeExp_1987           39.906
lifeExp_1992           23.599
lifeExp_1997           36.087
lifeExp_2002           39.193
lifeExp_2007           39.613
pop_1952                60011
pop_1957                61325
pop_1962                65345
pop_1967                70787
pop_1972                76595
pop_1977                86796
pop_1982                98593
pop_1987               110812
pop_1992               125911
pop_1997               145608
pop_2002               170372
pop_2007               199579
dtype: object

**PROBLEM**

Assume the code below has been executed:

```python
import pandas as pd

df = pd.read_csv('data/gap_data/gapminder_gdp_asia.csv', index_col=0)
japan = df.loc['Japan']
```

- Complete the statements below to obtain the average GDP for Japan across the years reported for the 1980s.

```python
year = 1983
gdp_decade = 'gdpPercap_' + str(year // ____)
avg = (japan.loc[gdp_decade + ___] + japan.loc[gdp_decade + ___]) / 2
```


- Abstract the code above into a single function.

```python
def avg_gdp_in_decade(country, continent, year):
    df = pandas.read_csv('data/gapminder_gdp_'+___+'.csv',delimiter=',',index_col=0)
    ____
    ____
    ____
    return avg
```

In [96]:
df = pd.read_csv('data/gap_data/gapminder_gdp_asia.csv', index_col=0)
japan = df.loc['Japan']
year = 1983
str(year // 10)+'2'

'1982'

In [97]:
gdp_decade = 'gdpPercap_' + str(year // 10 )

In [98]:
avg = (japan.loc[gdp_decade + '2'] + japan.loc[gdp_decade + '7']) / 2

In [108]:
def avg_gdp_in_decade(country, continent, year):
    df = pandas.read_csv('data/gap_data/gapminder_gdp_'+continent+'.csv',delimiter=',',index_col=0)
    country_rec = df.loc[country]
    gdp_decade = 'gdpPercap_' + str(year // 10)
    avg = (country_rec.loc[gdp_decade + '2'] + country_rec.loc[gdp_decade + '7']) / 2
    
    return avg

In [109]:
avg_gdp_in_decade('Japan', 'asia', 1995)

27820.74005

In [111]:
import gap