# Intro to Databases and SQL

![](images/sqlite.gif)


**GOALS**:

- Access and navigate SQL databases with Python
- Use basic SQL commands to query a database

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('data/example.db')

In [3]:
c = conn.cursor()

In [4]:
c.execute('''CREATE TABLE stocks
            (date text, trans text, symbol text, qty real, price real)''')

In [5]:
# Insert a row of data
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

In [6]:
# Save (commit) the changes
conn.commit()

In [7]:
c.close()

In [8]:
# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

### Problem

Create a table that contains the following information:

| Author | Title | Year | Price |
| -----  | ----- | ----- | ----- |
| Donald Knuth | Concrete Mathematics | 1989 | 5.00 |
| Isaac Newton | System of the World  |  1687 | 8.50 |
| Michel Foucault | Death and the Labyrinth | 1964 | 3.00 |

In [79]:
conn = sqlite3.connect('data/books.db')

In [80]:
cur = conn.cursor()

In [81]:
books = '''
CREATE TABLE customers (
    id integer PRIMARY KEY,
    Author text NOT NULL,
    Title text NOT NULL,
    Year integer,
    Price real)'''

In [82]:
cur.execute(books)

## Below shows which tables are in a DB

In [83]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table'")

In [84]:
print(cur.fetchall())

[('customers',)]

In [85]:
cur.close()
conn.close()

In [9]:
conn = sqlite3.connect('data/survey.db')
cur = conn.cursor()
cur.execute("SELECT * FROM Site")

In [10]:
cur = conn.cursor()
cur.execute("SELECT Site.lat, Site.long FROM Site;")

In [11]:
results = cur.fetchall()

In [12]:
for r in results:
    print(r)

(-49.85, -128.57)
(-47.15, -126.72)
(-48.87, -123.4)

In [90]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table'")
print(cur.fetchall())

[('Person',), ('Site',), ('Visited',), ('Survey',)]

In [91]:
cur.close()
conn.close()

In [20]:
conn = sqlite3.connect('data/survey.db')
cur = conn.cursor()
cur.execute("SELECT * FROM Visited;")

In [21]:
cur.fetchall()

[('619', 'DR-1', '1927-02-08'),
 ('622', 'DR-1', '1927-02-10'),
 ('734', 'DR-3', '1930-01-07'),
 ('735', 'DR-3', '1930-01-12'),
 ('751', 'DR-3', '1930-02-26'),
 ('752', 'DR-3', None),
 ('837', 'MSK-4', '1932-01-14'),
 ('844', 'DR-1', '1932-03-22')]

In [94]:
cur.execute("SELECT  personal, family FROM Person;")
cur.fetchall()

[('William', 'Dyer'),
 ('Frank', 'Pabodie'),
 ('Anderson', 'Lake'),
 ('Valentina', 'Roerich'),
 ('Frank', 'Danforth')]

In [95]:
cur.execute("SELECT id, id, id FROM Person;")
cur.fetchall()

[('dyer', 'dyer', 'dyer'),
 ('pb', 'pb', 'pb'),
 ('lake', 'lake', 'lake'),
 ('roe', 'roe', 'roe'),
 ('danforth', 'danforth', 'danforth')]

In [96]:
import pandas as pd

conn = sqlite3.connect('data/survey.db')
cur = conn.cursor()

results = cur.fetchall()
df = pd.read_sql('SELECT * FROM person', con=conn)
cur.close()
conn.close()

In [97]:
df.head()

         id   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth

In [98]:
for r in results:
    print(r)

### Problem

1. Write a query that select only the `name` column from the `Site` table.

In [18]:
import pandas as pd

conn = sqlite3.connect('data/survey.db')
df = pd.read_sql('SELECT name FROM Site', con=conn)

In [19]:
pd.read_sql

### Sort and Remove Duplicates

In [99]:
conn = sqlite3.connect('data/survey.db')
cur = conn.cursor()

In [100]:
cur.execute("SELECT quant FROM Survey;")

In [101]:
cur.fetchall()

[('rad',),
 ('sal',),
 ('rad',),
 ('sal',),
 ('rad',),
 ('sal',),
 ('temp',),
 ('rad',),
 ('sal',),
 ('temp',),
 ('rad',),
 ('temp',),
 ('sal',),
 ('rad',),
 ('sal',),
 ('temp',),
 ('sal',),
 ('rad',),
 ('sal',),
 ('sal',),
 ('rad',)]

In [102]:
cur.execute("SELECT DISTINCT quant FROM Survey;")

In [103]:
cur.fetchall()

[('rad',), ('sal',), ('temp',)]

In [104]:
cur.execute("SELECT DISTINCT taken, quant FROM Survey;")
cur.fetchall()

[(619, 'rad'),
 (619, 'sal'),
 (622, 'rad'),
 (622, 'sal'),
 (734, 'rad'),
 (734, 'sal'),
 (734, 'temp'),
 (735, 'rad'),
 (735, 'sal'),
 (735, 'temp'),
 (751, 'rad'),
 (751, 'temp'),
 (751, 'sal'),
 (752, 'rad'),
 (752, 'sal'),
 (752, 'temp'),
 (837, 'rad'),
 (837, 'sal'),
 (844, 'rad')]

In [105]:
cur.execute("SELECT * FROM Person ORDER BY id;")
cur.fetchall()

[('danforth', 'Frank', 'Danforth'),
 ('dyer', 'William', 'Dyer'),
 ('lake', 'Anderson', 'Lake'),
 ('pb', 'Frank', 'Pabodie'),
 ('roe', 'Valentina', 'Roerich')]

In [106]:
cur.execute("SELECT * FROM Person ORDER BY id DESC;")
cur.fetchall()

[('roe', 'Valentina', 'Roerich'),
 ('pb', 'Frank', 'Pabodie'),
 ('lake', 'Anderson', 'Lake'),
 ('dyer', 'William', 'Dyer'),
 ('danforth', 'Frank', 'Danforth')]

In [107]:
cur.execute("SELECT taken, person, quant FROM Survey ORDER BY taken ASC, person DESC LIMIT 1;")
cur.fetchall()

[(619, 'dyer', 'rad')]

1. Write a query that selects distinct dates from the `Visited` table.
2. Write a query that displays the full names of the scientists in the `Person` table, ordered by family name.

In [29]:
cur.execute("SELECT distinct * FROM Visited;")
cur.fetchall()

[('619', 'DR-1', '1927-02-08'),
 ('622', 'DR-1', '1927-02-10'),
 ('734', 'DR-3', '1930-01-07'),
 ('735', 'DR-3', '1930-01-12'),
 ('751', 'DR-3', '1930-02-26'),
 ('752', 'DR-3', None),
 ('837', 'MSK-4', '1932-01-14'),
 ('844', 'DR-1', '1932-03-22')]

In [32]:
cur.execute("SELECT * from Site;")
cur.fetchall()

[('DR-1', -49.85, -128.57),
 ('DR-3', -47.15, -126.72),
 ('MSK-4', -48.87, -123.4)]

### Filtering

In [108]:
cur.execute("SELECT * FROM Visited WHERE site='DR-1';")
cur.fetchall()

[('619', 'DR-1', '1927-02-08'),
 ('622', 'DR-1', '1927-02-10'),
 ('844', 'DR-1', '1932-03-22')]

In [109]:
cur.execute("SELECT * FROM Visited WHERE site='DR-1' AND dated<'1930-01-01';")
cur.fetchall()

[('619', 'DR-1', '1927-02-08'), ('622', 'DR-1', '1927-02-10')]

In [110]:
cur.execute("SELECT * FROM Survey WHERE person='lake' OR person='roe';")
cur.fetchall()

[(734, 'lake', 'sal', 0.05),
 (751, 'lake', 'sal', 0.1),
 (752, 'lake', 'rad', 2.19),
 (752, 'lake', 'sal', 0.09),
 (752, 'lake', 'temp', -16.0),
 (752, 'roe', 'sal', 41.6),
 (837, 'lake', 'rad', 1.46),
 (837, 'lake', 'sal', 0.21),
 (837, 'roe', 'sal', 22.5),
 (844, 'roe', 'rad', 11.25)]

In [111]:
cur.execute("SELECT * FROM Survey WHERE person IN ('lake', 'roe');")
cur.fetchall()

[(734, 'lake', 'sal', 0.05),
 (751, 'lake', 'sal', 0.1),
 (752, 'lake', 'rad', 2.19),
 (752, 'lake', 'sal', 0.09),
 (752, 'lake', 'temp', -16.0),
 (752, 'roe', 'sal', 41.6),
 (837, 'lake', 'rad', 1.46),
 (837, 'lake', 'sal', 0.21),
 (837, 'roe', 'sal', 22.5),
 (844, 'roe', 'rad', 11.25)]

In [112]:
cur.execute("SELECT * FROM Visited WHERE site LIKE 'DR%';")
cur.fetchall()

[('619', 'DR-1', '1927-02-08'),
 ('622', 'DR-1', '1927-02-10'),
 ('734', 'DR-3', '1930-01-07'),
 ('735', 'DR-3', '1930-01-12'),
 ('751', 'DR-3', '1930-02-26'),
 ('752', 'DR-3', None),
 ('844', 'DR-1', '1932-03-22')]

1. Suppose we want to select all sites that lie more than 42 degrees from the poles. Our first query is:
```sql
SELECT * FROM Site WHERE (lat > -48) OR (lat < 48);
```
Explain why this is wrong, and rewrite the query so that it is correct.

2. 
Normalized salinity readings are supposed to be between 0.0 and 1.0. Write a query that selects all records from Survey with salinity values outside this range.

![](images/exploits_of_a_mom.png)

In [43]:
# Never do this -- insecure!
symbol = 'RHAT'
conn = sqlite3.connect('data/example.db')
c = conn.cursor()
c.execute("SELECT * FROM stocks WHERE symbol = '%s'" % symbol)

In [44]:
conn.close()

In [45]:
conn = sqlite3.connect('data/example.db')
c = conn.cursor()
# Larger example that inserts many records at a time
purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
             ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
             ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
            ]
c.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)

In [46]:
pd.read_sql('PRAGMA table_info(Person)', con=conn)

Empty DataFrame
Columns: [cid, name, type, notnull, dflt_value, pk]
Index: []

In [47]:
conn.close()

### PROBLEMS

1. Write a Python program that creates a new database in a file called `original.db` containing a single table called Pressure, with a single field called reading, and inserts 100,000 random numbers between 10.0 and 25.0. How long does it take this program to run? How long does it take to run a program that simply writes those random numbers to a file?

2. Write a Python program that creates a new database called `backup.db` with the same structure as `original.db` and copies all the values greater than 20.0 from `original.db` to `backup.db`. Which is faster: filtering values in the query, or reading everything into memory and filtering in Python?

In [113]:
%%timeit
import sqlite3
# import random number generator
from numpy.random import uniform

random_numbers = uniform(low=10.0, high=25.0, size=100000)

connection = sqlite3.connect("original.db")
cursor = connection.cursor()
cursor.execute("CREATE TABLE Pressure (reading float not null)")
query = "INSERT INTO Pressure values (?);"

for number in random_numbers:
    cursor.execute(query, [number])

cursor.close()
# save changes to file for next exercise
connection.commit()
connection.close()

OperationalError: table Pressure already exists

In [114]:
%%timeit
from numpy.random import uniform

random_numbers = uniform(low=10.0, high=25.0, size=100000)
with open('random_numbers.txt', 'w') as outfile:
    for number in random_numbers:
        # need to add linebreak \n
        outfile.write("{}\n".format(number))

157 ms ± 2.68 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)