## Yelp

In [106]:
import pandas as pd

In [107]:
df = pd.read_csv('data/yelp.csv')

In [108]:
df.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [109]:
df['text'][0]

'My wife took me here on my birthday for breakfast and it was excellent.  The weather was perfect which made sitting outside overlooking their grounds an absolute pleasure.  Our waitress was excellent and our food arrived quickly on the semi-busy Saturday morning.  It looked like the place fills up pretty quickly so the earlier you get here the better.\n\nDo yourself a favor and get their Bloody Mary.  It was phenomenal and simply the best I\'ve ever had.  I\'m pretty sure they only use ingredients from their garden and blend them fresh when you order it.  It was amazing.\n\nWhile EVERYTHING on the menu looks excellent, I had the white truffle scrambled eggs vegetable skillet and it was tasty and delicious.  It came with 2 pieces of their griddled bread with was amazing and it absolutely made the meal complete.  It was the best "toast" I\'ve ever had.\n\nAnyway, I can\'t wait to go back!'

In [128]:
pgraph = [df['text'][0]]

In [129]:
type(pgraph)

list

In [130]:
positive = ['excellent', 'amazing', 'spectacular', 'way good', 'great', 'super', 'tasty']

In [131]:
negative = ['sucks', 'awful', 'not good', 'worst', 'terrible', 'gross', 'sick', 'smelled']

In [132]:
from sklearn.feature_extraction.text import CountVectorizer

In [133]:
import numpy as np

In [134]:
cv = CountVectorizer(vocabulary=positive)

In [135]:
cv.fit_transform(pgraph)

<1x7 sparse matrix of type '<class 'numpy.int64'>'
	with 3 stored elements in Compressed Sparse Row format>

In [60]:
cv.get_feature_names()

['excellent', 'amazing']

In [61]:
bag = cv.fit_transform(pgraph)

In [62]:
bag.toarray()

array([[3, 2]])

In [67]:
bag.sum()

5

In [99]:
review = []
pos_score = []
neg_score = []
for i in range(df.shape[0]):
    pgraph = [df['text'][i]]
    cv = CountVectorizer(vocabulary=positive)
    good_bag = cv.fit_transform(pgraph)
    good_bag.toarray()
    cv2 = CountVectorizer(vocabulary=negative)
    bad_bag = cv2.fit_transform(pgraph)
    bad_bag.toarray()
    review.append(i)
    score.append(good_bag.sum())
    neg_score.append(bad_bag.sum())

In [100]:
scores = pd.DataFrame(
    {'Reviews': review,
    'Positive Score': pos_score,
    'Negative Score': neg_score})

In [101]:
scores.head()

   Reviews  Score
0        0      5
1        1      0
2        2      0
3        3      0
4        4      0