In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
happy1 = pd.read_csv('2015.csv')

In [4]:
happy1.index

RangeIndex(start=0, stop=158, step=1)

In [61]:
# input date twice here and the contract regex
pf = pd.read_csv(get_portfolio_path('csv', datetime(2017, 12, 18)))
df = read_exec_log(date='20171218')
regex = r'mp[a-z]\d'

In [66]:
match_pf = pf[(pf.Ticker.str.match(regex) & (~pf.Account.str.contains('_SIM')))][['Account', 'Ticker', 'Exchange', 'Total']]
match_pf

      Account Ticker Exchange  Total
57    CONTOUR   mph8     immr     35
9921     NOVA   mph8     immr     -2

In [68]:
# total sum of shares across all accounts
match_pf['Total'].sum()

33.0

In [69]:
#executions
execs = df[df.ticker.str.match(regex) & (~df.account.str.contains('_SIM')) & (df.action.isin(('BL', 'BC', 'SL', 'SS')))]
execs.head()

,date,time,ticker,exchange,action,num_shares,price,line_handle,logical_handle,recovery_offset,...,ask_size,bid_time,ask_time,working_handle,share_volume,dollar_volume,routing,liquidity_type,exchange_fee,account
293548,20171218,01:31:56.797168,mph8,immr,SS,-2,51710,.1P00000D,19001960,14,...,0,00:00:00.000014,01:31:56.796811,19001939,15,0,OGO0_MS_AX_2,1,0,NOVA
293647,20171218,01:37:00.533786,mph8,immr,SS,-2,51670,.1P00000D,19001960,14,...,0,00:00:00.000014,01:37:00.533290,19001939,15,0,OGO0_MS_AX_2,1,0,NOVA
293990,20171218,01:51:01.722232,mph8,immr,SS,-1,51670,.1P00000D,19001960,14,...,0,00:00:00.000014,01:51:01.721985,19001939,15,0,OGO0_MS_AX_2,1,0,NOVA
294147,20171218,01:56:19.268311,mph8,immr,SS,-2,51670,.1P00000D,19001960,14,...,0,00:00:00.000014,01:56:19.268023,19001939,15,0,OGO0_MS_AX_2,1,0,NOVA
295789,20171218,02:00:51.123030,mph8,immr,SS,-1,51650,.1P00000D,19001960,14,...,0,00:00:00.000014,02:00:51.122726,19001939,15,0,OGO0_MS_AX_2,1,0,NOVA

In [74]:
# executions cumsum
series = execs['num_shares'].cumsum()
series.head()

293548   -2
293647   -4
293990   -5
294147   -7
295789   -8
Name: num_shares, dtype: int64

In [76]:
# include sod position sum
series = series + match_pf['Total'].sum()
series.head()

293548   -2
293647   -4
293990   -5
294147   -7
295789   -8
Name: num_shares, dtype: float64

In [77]:
print series.min()
print series.max()

-281.0
-2.0