In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/world-university-rankings/school_and_country_table.csv')

In [4]:
%%bash
ls data/world-university-rankings/

cwurData.csv
education_expenditure_supplementary_data.csv
educational_attainment_supplementary_data.csv
school_and_country_table.csv
shanghaiData.csv
timesData.csv

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 818 entries, 0 to 817
Data columns (total 2 columns):
school_name    818 non-null object
country        818 non-null object
dtypes: object(2)
memory usage: 12.9+ KB

In [6]:
df2 = pd.read_csv('data/world-university-rankings/cwurData.csv')

In [7]:
df2.head()

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012

https://github.com/ResidentMario/missingno