In [2]:
import pandas as pd

/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
df = pd.read_csv('data/carseats.csv', index_col = 0)

In [4]:
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,High
1,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes,Yes
2,11.22,111,48,16,260,83,Good,65,10,Yes,Yes,Yes
3,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes,Yes
4,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes,No
5,4.15,141,64,3,340,128,Bad,38,13,Yes,No,No

### Problems

- Frame a Classification Problem with the data to examine the `High` column as class to be predicted.
- Use a DecisionTree to examine a simple model for the problem with no hyperparameter tuning.
- Adjust tree using cross validation to determine if changing the depth of the tree supports improved performance.
- Visualize results with graphviz tree or feature importances

**BONUS**


Use a second and third algorithm to build a model.  Combine the results by averaging or majority vote.  Compare the performance.

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [6]:
y = pd.get_dummies(df.High, drop_first=True)

In [7]:
y[:5]

   Yes
1    1
2    1
3    1
4    0
5    0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 1 to 400
Data columns (total 12 columns):
Sales          400 non-null float64
CompPrice      400 non-null int64
Income         400 non-null int64
Advertising    400 non-null int64
Population     400 non-null int64
Price          400 non-null int64
ShelveLoc      400 non-null object
Age            400 non-null int64
Education      400 non-null int64
Urban          400 non-null object
US             400 non-null object
High           400 non-null object
dtypes: float64(1), int64(7), object(4)
memory usage: 40.6+ KB

In [22]:
df.ShelveLoc.value_counts()

Medium    219
Bad        96
Good       85
Name: ShelveLoc, dtype: int64

In [23]:
dum_1 = pd.get_dummies(df.ShelveLoc, drop_first=True)
dum_2 = pd.get_dummies(df.US, drop_first=True)
dum_3 = pd.get_dummies(df.Urban, drop_first=True)

In [20]:
dum_1[:5]

   Good  Medium
1     0       0
2     1       0
3     0       1
4     0       1
5     0       0

In [8]:
df.columns

Index(['Sales', 'CompPrice', 'Income', 'Advertising', 'Population', 'Price',
       'ShelveLoc', 'Age', 'Education', 'Urban', 'US', 'High'],
      dtype='object')

In [29]:
df2 = pd.DataFrame(dum_1)

In [31]:
pd.concat?

In [35]:
df_in = pd.concat([df2, df[['Sales', 'CompPrice', 'Income', 'Advertising', 'Population', 'Price', 'Age', 'Education']], dum_2, dum_3], axis = 1)

In [36]:
df_in = df_in.drop('Sales', axis = 1)

In [37]:
X = df_in

In [42]:
tree = DecisionTreeClassifier()

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [44]:
tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [45]:
pred = tree.predict(X_test)

In [46]:
from sklearn.metrics import classification_report

In [47]:
print(classification_report(y_test, pred))

             precision    recall  f1-score   support

          0       0.83      0.71      0.77        62
          1       0.62      0.76      0.68        38

avg / total       0.75      0.73      0.73       100

In [48]:
pred_train = tree.predict(X_train)
print(classification_report(pred_train, y_train))

             precision    recall  f1-score   support

          0       1.00      1.00      1.00       174
          1       1.00      1.00      1.00       126

avg / total       1.00      1.00      1.00       300

In [49]:
tree_prune = DecisionTreeClassifier(max_depth=4)
tree_prune.fit(X_train, y_train)
pred_prune = tree_prune.predict(X_test)
print(classification_report(pred_prune, y_test))
tpred_prune = tree_prune.predict(X_train)

             precision    recall  f1-score   support

          0       0.74      0.87      0.80        53
          1       0.82      0.66      0.73        47

avg / total       0.78      0.77      0.77       100

In [50]:
print(classification_report(tpred_prune, y_train))

             precision    recall  f1-score   support

          0       0.89      0.85      0.87       182
          1       0.79      0.84      0.81       118

avg / total       0.85      0.85      0.85       300